{{define "New"}}
<!DOCTYPE html>
<html lang="en">

{{template "_head"}}
{{template "_menu"}}

<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Novo cadastro</h1>
                <p class="lead">Preencha os dados e aperte em salvar</p>
            </div>
        </div>
        <form method="POST" action="insert">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Nome:</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="address">Endereço:</label>
                        <input type="text" name="address" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="age">Idade</label>
                        <input type="number" name="age" class="form-control" step="1">
                    </div>
                </div>
            </div>
            
            <button type="submit" value="salvar" class="btn btn-success">Salvar</button>
            <a class="btn btn-info" href="/">Voltar</a>
        </form>
    </body>

</html>
</div>
</body>

</html>
{{end}}